

.skills {
    position: relative;
    overflow: hidden;
    height: 100%;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
        position: relative;

        @media (max-width: 755px ) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0px;
        }

        .both{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;

            @media (max-width: 755px ) {
                gap: 15px;
            }
            .skill-title{
                font-size: 60px;
                color: #ececec;
                font-weight: 300;

                @media (max-width: 755px) {
                    font-size: 40px;
                }

                span{
                    color: rebeccapurple;
                }

        
            }

            .skill-card{
                width: 467px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;

                .card{
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border: 1px solid #ececec;
                    outline: none;
                    padding: 20px 20px 20px 60px;
                    border-radius: 15px;
                    z-index: 2;
                    transition:0.5s; 
                    position: relative;

                    @media (max-width: 995px ) {
                        width: 400px;
                    }
                    @media (max-width: 850px ) {
                        width: 350px;
                    }
                    @media (max-width: 755px ) {
                        width: 700px;
                        padding: 13px;
                    }
                    @media (max-width: 485px ) {
                        width: 400px;
                    }
                    @media (max-width: 395px ) {
                        width: 350px;
                        padding: 12.5px;
                    }
                }

                .card:hover{
                    border: 1px solid  #ae8bf8;
                    transition: 0.5s; 
                }

                .card:before {
                    --size: 12px;
                    background-color: #ae8bf8;
                    border-radius: 50%;
                    content: "";
                    height: 10px;
                    left: 20px;
                    top: 25px;
                    position: absolute;
                    width: 10px;
                    transition: 0.3s;

                    @media (max-width: 755px ) {
                        display: none;
                    }
                }

                .card:hover:before {
                    background-color: #ececec;
                }
            }
        }
    }

    .slideSkill{
        position: absolute;
        font-size: 30vh;
        bottom: -80px;
        white-space: nowrap;
        color:  #ffffff16;
        width: 100%;
        z-index: 1;
        overflow: unset;
        h1{
            font-weight: 300;
        }
    }
}